@import url("http://fonts.googleapis.com/css?family=Cabin");

body { 
    background: url(../cloth_alike.png) repeat 0 0;
    padding: 0px;
}

.bg-orange {
background-color: green;
}

.promotions {
  color: white;
  font-size: 18px;
}

.lead {
  font-size: 50px;
}

.pane-page-breadcrumb {
  margin-top: 10px;
}