@import url("http://fonts.googleapis.com/css?family=Cabin");

body { 
  background: url(../cloth_alike.png) repeat 0 0;
  height: 100%;
}

.bg-green {
  background-color: @brand-primary;
}

.promotions {
  color: @white;
  font-size: 18px;
}

.lead {
  font-size: 30px;
}

.pane-page-breadcrumb {
  margin-top: 10px;
}


.thumbnail {
  .img-responsive;
}
.file-icon {
  display: inline;
}   
.location-image {
  float:right;
  width: 400px;
  padding:5px;
  margin: 0px 5px 10px 5px;
}

.panel > .panel-heading {
  background-color: @panel-heading-bg;
  color: @white;

    a {
      color: @white;
      text-decoration: none;
    }
    h1, h2, h3 {
      text-transform: uppercase;
      margin-top: 2px;
      margin-bottom: 2px;
    }
}

.row > div {
  h2 {
    margin-top: 0px;
  }
} 
.navbar {
  border-color: @brand-primary;
}

.bg-gray {
  background-color: @gray-light;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-nav {
  font-size: 15px;
}


.flexslider {
  margin-bottom: 6px;
  .slides img {
    .img-responsive;
}
} 